{% extends 'base.html' %}
{% load static %}
{% block title %}План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню{% endblock %}
{% block content %}
  <center>
    <h2>{{ title }}</h2>
  </center>

  <div class="container">
    <table class="table table-responsive">
      {% for dish in dishes %}
          <tr>
              <td><img src="{{ dish.img.url }}" alt="" style="width: 200px; height: 130px;"></td>
              <td><a href="{% url 'recipe' dish.id %}" class="title">{{ dish.title }}</a></td>
              <td>
                  {% for item in dish.items.all %}
                      {{ item.ingredient.title }} - {{ item.quantity }}{{item.ingredient.units}},
                  {% endfor %}
              </td>
              <td>{{ dish.price }} руб.</td>
              <td>
                <form class="like-form" action="{% url 'accounts:like' dish.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="like-button {% if user.is_authenticated and dish.id in liked_dishes %}liked{% endif %}" data-dish-id="{{ dish.id }}">
                    🤍
                  </button>
                </form>
                <div id="like-status-{{ dish.id }}"></div>
              </td>
          </tr>
      {% endfor %}
  </table>
  </div>

  <script>
    document.querySelectorAll('.like-form').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы
    
            const formData = new FormData(form); // Получаем данные формы
    
            fetch(form.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                const button = form.querySelector('.like-button');
                const dishId = button.getAttribute('data-dish-id');
                const statusDiv = document.getElementById('like-status-' + dishId);
                
                // Обновляем текст кнопки и класс в зависимости от статуса лайка
                if (data.liked) {
                    button.classList.add('liked'); // Добавляем класс для лайка
                    button.textContent = '❤️'; // Изменяем текст на сердечко
                    statusDiv.textContent = 'Вы лайкнули это блюдо!'; // Сообщение о статусе
                } else {
                    button.classList.remove('liked'); // Убираем класс для лайка
                    button.textContent = '🤍'; // Изменяем текст на пустое сердечко
                    statusDiv.textContent = 'Вы убрали лайк с этого блюда.'; // Сообщение о статусе
                }
            })
            .catch(error => console.error('Ошибка:', error));
        });
    });
</script>
{% endblock %}