<tr>
    <th>
        <a href="/recipe/{{ breakfast.id }}" class="title">{{ breakfast.title }}</a>
        <br>
        <img src="{{ breakfast.img.url }}" style="max-width: 50%">
    </th>
    <th>
        <a href="/recipe/{{ lunch.id }}" class="title">{{ lunch.title }}</a>
        <br>
        <img src="{{ lunch.img.url }}" style="max-width: 50%">
    </th>
    <th>
        <a href="/recipe/{{ dinner.id }}" class="title">{{ dinner.title }}</a>
        <br>
        <img src="{{ dinner.img.url }}" style="max-width: 50%">
    </th>
</tr>