{% extends 'base.html' %}
{% load static %}
{% block title %}План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню{% endblock %}
{% block content %}
  <section>
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-4 d-flex justify-content-center">
                  <div class="card foodplan__card_borderless">
                      <img src="{{recipe.img.url}}" alt="">
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                  <h2>{{recipe.title}}</h2>
                  <h5>Ингредиенты:</h5>
                  <ul class="list-group list-group-flush">
                    {% for item in recipe.items.all %}
                      <li class="list-group-item">{{item.ingredient}} - {{item.quantity}} {{item.ingredient.units}}</li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="col-md-12">
                <h4>Инструкция по приготовлению</h4>
                {{ recipe.instruction }}
              </div>
          </div>
      </div>
  </section>
{% endblock %}